* {
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
    background-color: rgb(231, 230, 240);
  }
  body {
    font-family: sans-serif;
  }
  .container {
    max-width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container h1 {
    float: left;
    border-bottom: 5px solid rgb(196 37 207);
    font-size: 24px;
    margin-bottom: 50px;
    padding: 12px 0;
    color: rgb(251, 247, 8);
    text-shadow: 2px 2px 1px rgb(6 46 94);
  }
  .textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 12px 0;
    border-bottom: 1px solid #600dab;
  }
  
  .textbox input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 16px;
    width: 80%;
    float: left;
    margin: 0 10px;
  }
  .btn {
    width: 100%;
    height: 30px;
    font-size: 18px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
    color: rgb(250, 250, 253);
    margin: 10px 0;
    background-color: blueviolet;
    border: 2px solid rgb(3, 49, 102);
    cursor: pointer;
  }
  .btn:hover {
    background-color: rgb(3, 3, 29);
    color: rgb(255, 143, 15);
  }
  a {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    text-decoration: none;
    float: left;
  }
  a:hover {
    color: green;
    text-decoration: underline;
  }
  /* img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  } */
  .textbox i {
    float: left;
    color: rgb(36 137 185);
    text-align: center;
  }